body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffaa;
}

.app {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 30%;
    height: 40vh;
    width: 40vw;
    max-height: 270px;
    min-height: 155px;
}


.counting {
    display: flex;
    justify-content: center;
    color: red;
    background-color: black;
    width: 40vw;
    text-align: center;
}

.showing-sec {
    z-index: 10
}

#info {
    display: inline-block;
    position: absolute;
    background-color: teal;
    width: 100%;
    height: calc(100% + 40px);
    text-align: center;
    z-index: -1;
}
