body {
    background-color: #ffffaa;
}
.app {
}
.section {
    display: inline-block;
    position: relative;
    background-color: white;
    outline: solid 10px black;
    padding-left: 20%;
    padding-right: 20%;
    width: 40%;
    left: 10%;
}
.counting {
    position: static;
}