.question {
    color: white;
    background-color: #111;
    border: 3px solid #555;
    margin: 100px;
    border-radius: 10px;
    padding: 10px;
}

.real_question {
    margin-bottom: 10px;
}


.option {
    margin: 5px;
    padding: 3px;
    color: #bbb
}

.option:hover { 
    background-color: #333;
}

.correct {
    color: green;
    font-weight: bold;
  }


.wrong {
    color: red;
    font-weight: bold;
  }