.question {
    width: 40vw;
    position: absolute;
    color: white;
    background-color: #c64;
    height: 50vh;
}

.section {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 30vh;
}

.option {
    color: #111;
}

.option:hover { 
    background-color: #333;
}

.correct {
    color: green;
    font-weight: bold;
  }


.wrong {
    color: red;
    font-weight: bold;
  }

.showing-q {
    z-index: 10
}

