.question {
    display: none;
    position: absolute;
    color: black;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    min-height: 155px;
    border-radius: 10px;
}

.real-question {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-options {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: calc(100% - 50px);
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #fee;
    text-align: center;
    transition: 0.3s;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.option:hover { 
    outline: 4px double #fee
}

.trap {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.correct {
    background-color: green;
    margin: 0;
    color: white;
    font-weight: bold;
    outline: none !important;
  }


.wrong {
    background-color: red;
    margin: 0;
    color: white;
    font-weight: bold;
    outline: none !important;
  }

.showing-q {
    display: inherit;
}


