#explain {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px;
    text-align: center;
    padding-top: 25px;
    justify-content: center;
    column-gap: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.sec-explain {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.3;
    transition: 0.5s;
    font-size: 15px;
}

#explain-basic {
    background-color: yellowgreen;
}

#explain-int {
    background-color: orange;
}

#explain-coll {
    background-color: purple;
    color: white;
}

#explain-maj {
    background-color: black;
    color: white;
}