#explain {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}


#explain-text {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    opacity: 0.5;
    transition: 0.5s;
    cursor: default;
}

#explain-text:hover {
    opacity: 1;
}

#explain-table {
    margin-left: auto;
    margin-right: auto;
}

#explain-table td {
    padding: 0 15px;
  }
